body {
	background-color: black;
}
.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
	background-repeat: no-repeat;
}
.ryu {
	float: left;
	width: 659px;
	height: 494px;
}
.ryu-still, .ryu-ready, .ryu-throwing {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-throwing {
	display: none;
}
.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: absolute;
	top: 170px;
	left: 540px;
	float: left;
	z-index: 10;
}
.hulk-ryu {
	display: inline;
	float: right;
	filter: hue-rotate(90deg);
	width: 659px;
	height: 494px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}